*{margin: 0; padding: 0; box-sizing: border-box;}




/*Ez a Nav */
.navbar-brand{margin-right: 2rem;



}  


body{
    background-image: linear-gradient(to right #2C1E4B , #945CC6  );
   
    
}



























/*Main */
main .text{
    padding: 80px;
}
main .but{
    background-color: #223C5A;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
