*{margin: 0; padding: 0; box-sizing: border-box;}




/*Ez a Nav */
.navbar-brand{margin-right: 2rem;



}  






























/*Main */
main .text{
    padding: 80px;
}
main button{
    
}
