*{margin: 0; padding: 0; box-sizing: border-box;}


nav{font-size: x-large;
font-weight: 600;
}
.navbar-toggler{
    color: white !important;
    background-color: white;
}

/*Ez a Nav */
.navbar-brand{margin-right: 2rem;
font-size: xx-large !important;


}  


body{
    background-image: linear-gradient(to left, #2C1E4B , #945CC6  );
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



























/*Main */
main .text{
    padding: 80px;
}
main .but{
    background-color: #223C5A;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
